
    <h1>Dodaj użytkownika</h1>

    <form method="POST">
        <input name="login" value="" required><br>
        <input name="password" value=""><br>
        <input name="email" value=""><br>
        <input type="submit"/>
    </form>
